Package: com.atrocity.donut
Name: Donut
Priority: optional
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Lollipop Drawer animation for Springboard Folders
Depiction: http://www.zachatrocity.com/repo/depic/com.atrocity.donut/index.html
Maintainer: Zach Russell
Author: Zach Russell <http://www.zachatrocity.com>
Homepage: http://www.zachatrocity.com
Section: Tweaks